doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    meta(property='og:url',content='https://www.squamishtrailmix.ca/')
    meta(property='og:type',content='website')
    meta(property='og:image',content='https://www.squamishtrailmix.ca/img/facebook.jpg')
    meta(property='og:title',content='Squamish Trail Mix')
    meta(property='og:description',content='Wholesale prices for nuts and dried fruit. Available for pickup at the Chief Campground or Garibaldi Highlands.')

    title Squamish Trail Mix
    link(href='lib/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Muli', rel='stylesheet')
    link(rel='stylesheet', href='lib/font-awesome/css/font-awesome.min.css')
    link(href='css/new-age.min.css', rel='stylesheet')

  body#page-top
    h1 Closed for the season
