doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')

    title Squamish Trail Mix
    link(href='lib/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Muli', rel='stylesheet')
    link(rel='stylesheet', href='lib/font-awesome/css/font-awesome.min.css')
    link(href='css/new-age.min.css', rel='stylesheet')

  body#page-top
    nav#mainNav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  Menu 
            i.fa.fa-bars
          a.navbar-brand.page-scroll(href='#page-top') Squamish Trail Mix
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.btn.buynow
            li
              a.page-scroll(href='#order') Order
            li
              a.page-scroll(href='#price') Pricing
            li
              a.page-scroll(href='#contact') Contact

    section#about.about
      .container
        .row
          .col-lg-12.text-center
            .section-heading
              h2 Best price in Squamish for awesome nuts and dried fruit!
              h3 The Chief's Nuts
              hr
        .row
          .col-sm-offset-2.col-sm-10.col-md-offset-4.col-md-8
            .container-fluid
              .row
                .col-sm-6
                  .feature-item
                    a.page-scroll(href='#price')
                      i.fa.fa-usd(aria-hidden='true')
                      h3 Best Price in Town
                      p.text-muted See how our prices compare with Squamish grocery stores.
                .col-sm-6
                  .feature-item
                    i.fa.fa-spoon
                    h3 Quality Stuff
                    p.text-muted Locally roasted nuts. Certified organic fruits.
              .row
                .col-sm-6
                  .feature-item
                    i.fa.fa-list-ol(aria-hidden='true')
                    h3 Rotating Selection
                    p.text-muted We are small, so just room for six items!
                .col-sm-6
                  .feature-item
                    i.fa.fa-child(aria-hidden='true')
                    h3 Only in Squamish
                    p.text-muted Pick-up at the 
                      a(target="_blank",href="https://www.facebook.com/fuelandforestcafe/") Fuel and Forest Cafe 
                      | in Garibaldi Lowlands.

    section#order.order.bg-secondary.text-center
      .container
        .row
          .col-sm-10.col-sm-offset-1
            h2.section-heading Place an Order
            #products.container-fluid

    section#price.price.bg-primary.text-center
      .container
        .row
          .col-sm-10.col-sm-offset-1
            h2.section-heading Best prices in Squamish
            p.text-muted.text-left
              | This table compares the price of our nuts and organic fruit to the cheapest, non-organic similar products available at popular Squamish grocery stores. Prices are per pound as of 6/10/2017.
            table#priceTable.table
            p.text-muted.text-left.small
              sup 1
              |  Organic
              br 
              sup 2
              |  Not the best price. Absurdly tasty.

    section#contact.contact.bg-secondary
      .container
        h2 Let us know what you think!
        ul.list-inline.list-social
          li.social-facebook
            a(href='mailto:0988671ltd@gmail.com')
              i.fa.fa-envelope
          li.social-twitter
            a(href='https://twitter.com/SquamishMix')
              i.fa.fa-twitter
          li.social-facebook
            a(href='https://www.facebook.com/SquamishMix')
              i.fa.fa-facebook
        p Help us do the right things! Take a minute to complete this survey. 
        iframe(src='https://docs.google.com/forms/d/e/1FAIpQLScD85eIGNhhGPU2NSUWGO-NAZ64QnrvoqpnrieKquICi6iYlA/viewform?embedded=true',width=760,height=500,frameborder=0,marginheight=0,marginwidth=0) Loading...
    footer
      .container
        p © 2017 0988671 B.C., Ltd. All Rights Reserved.

    form#stripeForm(action='/charge', method='post')
      input#stripeEmail(type='hidden', name='stripeEmail')
      input#stripeToken(type='hidden', name='stripeToken')

    #onOrderSuccess.modal.fade(tabindex='-1', role='dialog', aria-labelledby='onOrderSuccessLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#onOrderSuccessLabel.modal-title Huge Success!
          .modal-body
            .row
              .col-sm-4.text-center
                i.fa.fa-check.success
              .col-sm-8 We have received your order! We'll send an email with detailed instructions when your order is ready for pickup in Garibaldi Highlands.
          .modal-footer
            button.btn.btn-default(data-dismiss='modal') Okay!

    #onOrderFail.modal.fade(tabindex='-1', role='dialog', aria-labelledby='onOrderFailLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#onOrderSuccessLabel.modal-title Fail
          .modal-body
            .row
              .col-sm-4.text-center
                i.fa.fa-exclamation-triangle.text-danger
              .col-sm-8 Something went wrong when processing your order. Please contact us and we can help you work around this problem.
          .modal-footer
            button.btn.btn-default(data-dismiss='modal') Done

    script window.keyPublishable='#{keyPublishable}';
    script(src='https://checkout.stripe.com/checkout.js')
    script(src='lib/jquery/jquery.min.js')
    script(src='lib/bootstrap/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')

    script(src='js/productLine.js')
    script(src='js/new-age.js')
